
@model ItemsListViewModel

@foreach (var p in Model.Items)
{
    <div>
        <h3>@p.name</h3>
        @p.description
        <h4>@p.type</h4>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="List"></div>
